
body {
	margin: 0;
	padding: 0;
	font-family: Bookman, Garamond, Palatino, Georgia, serif;
	color: #444;
}

.clear {
	clear: both;
}

#content {
	margin: 2em 25%;
}

.center {
	text-align: center;
}


#head {
	text-align: center;
}

#head p {
	font-size: 1.2em;
}

h1 {
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 2em;
}

hr {
	border: solid 2px #444;
	margin-top: 3.5em;
}

h3 {
	margin-top: 2em;
}

h3 span:first-child {
	float: left;
}

h3 span:nth-child(2) {
	float: right;
}

h4 {
	text-transform: uppercase;	
}

h3 + h4 {
	clear: both;
	border-top: solid thin #444;
}

p {
	margin-top: 0;
}

ul {
	margin-top: 0;
	padding-left: 1.25em;
}

#nav ul {
	padding: 0;
	text-align: center;
	background: #eee;
	padding: 0.5em 1em;

}

#nav li {
	list-style-type: none;
	display: inline;
}

#nav a {
	padding: 0.5em 1em;
	color: #000;
	text-decoration: none;
	font: normal normal 300 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav a:hover {
	background: #ddd;
}


@media only screen 
  and (max-width: 600px) {

	#head img {
		width: 100%;
	}

	#content {
		margin: 1em;
	}

	#nav li {
		list-style-type: none;
		display: block;
		padding: 0.5em 0;
	}

	#nav a {
		padding: 0.5em;
		font-size: 1.2em;
	}
}


@media only screen 
  and (min-width: 600px) 
  and (max-width: 1024px) {
	#content {
		margin: 2em 15%;
	}
}

@media only screen
	and (min-width: 600px) {
		h1 {
			font-size: 1.9vw;			
		}
		#head img {
			width: 50%;
			float: right
		}
		#headDiv {
			float: left;
			width: 50%;
		}
	}

#refletter-img {
	width: 100%;
}
